.panning {
    background-image: url(../img/space.png);
    
    background-size: cover;
    overflow: hidden;
}

#tips{
    text-align: center;
    position: fixed; 
    bottom: 0; 
    width:100%;
    color: wheat ; 
}

